@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: whitesmoke;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
}

div {
  display: flex;
  flex-direction: column;
  gap: 1px;
  text-align: center;
}